{
  "env": {
    "development": {
      "plugins": [
      	"transform-export-extensions",
        "add-module-exports",
        "transform-object-rest-spread",
        "syntax-flow",
        "flow-runtime",
        "transform-flow-comments",
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
      	"transform-export-extensions",
        "add-module-exports",
        "transform-object-rest-spread",
        "syntax-flow",
        "transform-flow-comments"
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ]
}
